<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="listaProdutos.length === 0">
<ion-label>Nenhum registro encontrado...</ion-label>
  </ion-item>
  <ion-item-sliding *ngFor="let prod of listaProdutos">
<ion-item lines="full">
<ion-label>{{prod.nome}}</ion-label>
<ion-label slot="end">
{{prod.valor | currency:'BRL':'R$'}}
</ion-label>
</ion-item>
<ion-item-options slide="end">
<ion-item-option color="warning" routerLink="/produtos/alterar-produto/{{prod.id}}">
<ion-icon slot="icon-only" name="create-outline"></ion-icon>
</ion-item-option>
<ion-item-option color="danger" (click)="deletarProduto(prod.id)">
  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
  </ion-item-option>
</ion-item-options>
  </ion-item-sliding>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
<ion-fab-button routerlink="/produtos/cadastro-produto">
<ion-icon name="trash-outline"></ion-icon>
</ion-fab-button>
  </ion-fab>
</ion-content>
